<%- include('./partials/header') %>

<form action="/sign_in" method ='POST'>
    <div class="card mb-4">
        <div class = card-body>
         <label for="username" class="form-label" style = "color: grey;">Username</label>
         <input type="text" class="form-control" id="username" name= "username" placeholder = "e.g. Madam Welminster" required = "required" >

         <br>

        <label for="avatar" class="form-label" style="color: grey;"> Avatar Url (Optional) </label>
        <input type="text" class="form-control" id="avatar" name="avatar" placeholder="e.g. https://i.pinimg.com/736x/5f/4a/7c/5f4a7c0fdf5403758b9840a34e24abe6.jpg">


         <br>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type ="submit" class="btn btn-light me-md-2" style="color:grey" >Sign In</button>
        </div>
        </div>
    </div>
    
</form>

<%- include('./partials/footer') %>

